#animated {
  z-index:-1;
  position:relative;
}

#header {
  position:fixed;
  left:0px;
  right:0px;
}

#header {
  box-shadow:1px 1px 0px 2px rgba(0,0,0,0.17);
  position:fixed;
  left:0px;
  top:0px;
  right:0px;
}

.footer {
  box-shadow:1px -1px 0px 2px rgba(0,0,0,0.17);
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
}

#login {
  border-color:rgb(150,151,152);
  border-radius:25px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
}

#logo {
  border-radius:9px;
}

.card.sis {
  height:263px;
}

#body {
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  top:430px;
}

#cover {
  position:fixed;
  left:0px;
  z-index:-1;
  right:0px;
}

#header {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
}

#menu {
  border-radius:20px;
  border-color:white;
  border-width:3px;
}

#masuk {
  border-radius:16px;
  border-color:transparent;
  box-shadow:inset 0px -2px 1px 1px rgba(0,0,3,0.3);
}

#regis {
  box-shadow:inset 0px 0px 0px 2px white;
  border-radius:16px;
  border-color:transparent;
}

